@model IEnumerable<RestaurantBusinessLogic.ViewModels.FoodViewModel>

@{
    ViewData["Title"] = "Продукты";
}

<div class="text-left">
    <h4>Пополнение холодильника №@ViewBag.fridgeId</h4>
</div>

<hr />
<div>
    <a class="text-dark" asp-controller="Fridge" asp-action="Details" asp-route-id="@ViewBag.FridgeId">Вернуться назад</a>
</div>
<hr />

<table class="table table-striped table-bordered">
    <thead class="thead thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm btn-block" asp-action="AddFood" asp-route-foodId="@item.Id" asp-route-fridgeId="@ViewBag.FridgeId">Пополнить</a>
                </td>
            </tr>
        }
    </tbody>
</table>